<head>
    <link href="/css/inventory-data.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/images/faviconico">
    <title>Invenotry Data</title>
</head>


<nav class="f"> 
    <ul>
        <li><a href="/shopdashboard">Dashboard</a></li>
            <li><a href="/custdata">Customer Data</a></li>
            <li><a href="/ledger">Ledger </a></li>
            <li><a href="/addtransaction">Add New Transaction</a></li>
            <li class="logout"><a href="/logout">Logout</a></li>
    </ul>
</nav>
<br>
<br>
<h1>The inventory data is as follows:</h1>
<br>


<table class="styled-table" border="1px solid black">
<form method='POST', action="/inventory-data" id = 'form1'>
    <tr>
        <th>Item ID</th>
        <th>Item Name</th>
        <th>Item Cost</th>
        <th>Item Quantity</th>
        <th></th>
        <th></th>
    </tr>
    <% for (let i = 0; i < values.length; i++)  {%>
        <tr>
            <td><%= values[i].item_id %></td>
            <td><%= values[i].item_name %></td>
            <td>₹<%= values[i].item_cost %></td>
            <td><%= values[i].item_quantity %></td>
            <td><button type = 'button' id = '<%= values[i].item_id%>' onclick="showTextBox(id)">Delete Item</button></td>
            <td >
                    <input class="aa" id = 'item<%=values[i].item_id%>', type = 'number' name = 'item<%=values[i].item_id%>'  /hidden>
                </td>
            </tr>
            <% } %>
        </table>
    </form>
<br>
<input type = "submit", value = "Confirm Deletion", form = 'form1'>
<br>
<br>
<p>If you try to delete more quantity than in stock, they won't be deleted!</p>
<br>
<div class="Existing">
<a class="btn-slide" href = '/additems'>
    <span class="circle">
        <i class="fa-solid fa-film"></i>        
      </span>
    
      <span class="title">Add Item</span>
      <span class="title title-hover">Existing items!</span>
     </a>
</div>
<br>
<div class="New">
    <a class="btn-slide" href = '/addnew'>
        <span class="circle">
            <i class="fa-solid fa-film"></i>        
          </span>
        
          <span class="title">Add Item</span>
          <span class="title title-hover">New items!</span>
         </a>
    </div>

<script>
    var values = '<%- JSON.stringify(values) %>';
    function showTextBox(id) {
        if (document.getElementById(`item${id}`)) {
            document.getElementById(`item${id}`).style.display = 'block';
        } 
    }
</script>

